body {
  margin: 0;
  font-family: "poppins",sans-serif;
  background-color: #22254b;
  color: white;
}

.root{
  display: flex;
  flex-direction: column;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header{
  background-color: #373b69;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.search{
  font-family: inherit;
  font-size: 1.2rem;
  border: 2pm solid #22254b;
  border-radius: 50px;
  background-color: transparent;
  color: #22254b ;
  padding: 0.5rem 1.5rem;
}

.movie{
  background-color: #373b69;
  margin: 1rem;
  width: 300px;
  border-radius: 3px;
  box-shadow: 3pm 3px 5px rgba(0,0,0,0.1);
  overflow: hidden;
  position: relative;
}

.movie img{
  max-width: 100%;
}

.movie-container{
  display: flex;
  flex-wrap: wrap;
}

.movie-info{
  display: flex;
  padding: 1rem;
  align-items: center;
  justify-content: space-between;
  color: white;
}

.movie-info h3{
  margin: 0;
}

.movie-over{
  background-color: white;
  color: #22254b;
  padding: 1rem;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  transform: translateY(102%);
  transition: transform 0.3s ease-in-out;
  overflow: auto;
  max-height: 100%;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  box-shadow: 0 -3px 5px rgba(0,0,0,0.1);
}

.movie:hover .movie-over{
  transform: translateY(0%);
}